<div fxLayout="column " class="hunderd-height" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <mat-toolbar>
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" fxFlex="10" fxLayoutAlign="start center" [fxShow]="false" [fxHide]="true" fxShow.xs="true">
        <mat-icon (click)="snav.toggle()">menu</mat-icon>
      </div>
      <div fxLayout="row wrap" fxFlex="10" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false"><img imgSrc="/Web/Icons/favicon.png" class="logo-size"></div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="false" [fxHide]="true" fxShow.xs="true">
        <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
        <mat-menu #menu="matMenu">
          <div fxLayout="column wrap" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false"><button mat-button (click)="goToLink(toolbarItems.knowledgeCenter)">Knowledge Center</button><button mat-button (click)="goToLink(toolbarItems.console)">Console</button><button mat-button (click)="goToLink(toolbarItems.store)">Store</button></div>
        </mat-menu>
      </div>
      <div fxLayout="row wrap" class="toolbar-font" fxFlex="75" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false" fxShow.xs="false"><button mat-button (click)="goToLink(toolbarItems.knowledgeCenter)">Knowledge Center</button><button mat-button (click)="goToLink(toolbarItems.console)">Console</button><button mat-button (click)="goToLink(toolbarItems.store)">Store</button></div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container style="height:100%;" class="toolbar-background">
    <div fxLayout="column wrap" class="font-bold font-family" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
      <h4>
        You&apos;re now logged in!</h4>
    </div>
    <mat-sidenav #sidenav #snav [attr.role]="(isHandset | async) ? &apos;dialog&apos; : &apos;navigation&apos;" [mode]="(isHandset | async) ? &apos;over&apos; : &apos;side&apos;" class="toolbar-background" [position] [opened]="!(isHandset | async)">
      <div fxLayout="column " class="listitem-padding" fxFlex="100" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column " class="hundred-width" fxFlex="25" fxLayoutAlign="space-evenly center" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" fxLayoutAlign="space-around center" [fxShow]="true" [fxHide]="false"><img [src]="userInfo.additional.picture ? userInfo.additional.picture : &apos;assets/Web/Icons/user.png&apos;" class="profile-image image-width"></div>
          <h3 style="bold;" class="font-family">
            {{ userInfo.firstName }}
            {{ userInfo.lastName }}</h3>
        </div>
        <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
          <mat-list>
            <div fxLayout="column " class="font-family" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
              <h4>
                Your Teams</h4>
            </div>
            <mat-list-item *ngFor="let team of teams; index as i;" class="list-font">
              <mat-icon matListIcon>people</mat-icon>
              <div class="list-font">
                {{ userInfo.teams[i].displayName }}</div>
            </mat-list-item>
          </mat-list>
        </div>
        <div fxLayout="row wrap" style="padding: 0 1rem; width: 100%" class="font-family pointer" fxLayoutGap="0.5rem" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false" fxFlexAlign="flex-end" (click)="logoutUser()">
          <mat-icon>exit_to_app</mat-icon><span>
                Logout</span>
        </div>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>